@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

:root {
  --primary-color: rgb(140, 17, 39);
  --secondary-color: #a62626;
  --white:#ffffff;
  --text:#000000;
}

.dark-theme{
  --primary-color: hsl(218, 15.4%, 10.2%);
  --secondary-color: #190a0a;
  --white:#190a0a;
  --text:#cbcaca;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background-image: linear-gradient(var(--primary-color),--secondary-color);
}

.container form{
  padding:20px;
  width:700px;
  background: var(--white);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: var(--text);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn, .close{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: rgb(206, 49, 49);
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover, .close:hover{
  background: rgb(95, 40, 40);
}


.popup-wrapper{
  background-color: rgba(0,0,0,.5); 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;

}

.popup{
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;

}