:root {
  --primary-color: rgb(140, 17, 39);
  --secondary-color: #a62626;
}

* {
  box-sizing: border-box;
  
}

a{
  text-decoration: none;
  color: white;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-image: linear-gradient(rgb(95, 40, 40), rgb(206, 49, 49));
  min-height: 100vh;
  width: 100%;
  margin-bottom: 150px;
}

header {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  /* gap: 600px; */
  width: 100%;
  align-items: center;
  background-color: var(--secondary-color);
}

header h2 {
  color: white;
  text-decoration: underline;
}

.search {
  background-color: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  width: 180px;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.635);
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

/* image slider */


.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  overflow: hidden;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  width: 1280px;
  height: 720px;
}

.image-container img {
  width: 1280px;
  height: 720px;
  object-fit:cover;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.angle{
  width: 40px;
  height: 40px;
  display: block;
  filter: invert();
}

.flexbutton{
  position: absolute ;
  display: flex;
  width: 99vw;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  color: white;

}


.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie button{
  background-color:rgba(190, 2, 2, 0.871);
  display: block;
  border: none;
  width: 80%;
  height: 30px;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: rgb(83, 172, 83);
}

.movie-info span.orange {
  color: rgb(190, 133, 58);
}

.movie-info span.red {
  color: rgb(183, 74, 50);
}

.overview {
  background-color: rgba(0, 0, 0, 0.857);
  color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* Booking styles */

#movie-container {
  margin: 20px 0;
  max-width: 700px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.seat {
  background-color: #444451;
  height: 25px;
  width: 25px;
  margin: 3px;
}

.seat.selected {
  background-color: #69f47e;
}

.seat.occupied {
  background-color: #c76767;
}

.seat:nth-of-type(2) {
  margin-right: 25px;
}

.seat:nth-last-of-type(2) {
  margin-left: 25px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.4);
}

.showcase {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  background-color: #c0c0c0;
  height: 70px;
  width: 100%;
  margin: 40px 0;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

p.text {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

p.text span {
  color: #6feaf6;
}
 
/* Swiper */
.swiper-slide{
  position: relative;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  color: white;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
 color: white;
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 550px;
  object-fit: contain;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}


.swiper-slide .info{
  position: absolute;
  top: 70%;
  left: 17%;
  color: white;
  font-size: 30px;
  text-decoration: underline;
  z-index: 10;
}

.swiper-slide .detail{
  position: absolute;
  width: 600px;
  bottom: 15%;
  left: 17%;
  font-size: 12px;
  color: white;
  z-index: 10;
}


@media only screen and (max-width: 767px) {

  .swiper-slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  .swiper-slide .info{
    top: 65%;
    left: 10%;
    font-size: 12px;
    font-weight: bold;
   text-align: center;
  }

  .swiper-slide .detail{
    position: absolute;
    width: 300px;
    bottom: 15px;
    left: 10%;
    font-size: 10px;
    color: white;
  }

  

}